body {
  padding: 0;
  text-align: center;
  font-family: 'Verdana';
}

.MAIN{
display: flex;
flex-direction: column;


}
.Header{
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  width: 900px;
  height: 70px;
  background-color:white;
  border-radius: 1cm;
  border-color: black;
  border-width: 1cm;
}

.game-intro {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  }

.btn_start{
  justify-content: start;
  justify-self: start;
}

.start-button{
  color: #870007;
  background-color: #870007;
}

.logo-img {
  font-size: 20px;
  background-color: #870007;
  color: #fff;
  padding: 10px 50px;
  border:0;
  border-radius: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#game-board {
  float: left;
  background-image: url(./Images/bg2.gif);
  background-size: cover;
}