body {
  padding: 0;
  text-align: center;
  font-family: 'Verdana';
}


.MAIN{
display: flex;
flex-direction: row;


}
.Header{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.game-intro {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  }

.btn_start{
  display: flex;
  align-items: center;
}

.start-button{
  color: #870007;
  background-color: #870007;
}

.setas{
display: flex;
align-items: flex-start;
}


.logo-img {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  padding: 20px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#game-board {
  float: left;
}